    /* ------------------
    Validation
--------------------*/

    small {
      display: none;
      font-size: 16px;
      position: relative;
      left: 2%;
    }

    .error {
      color: #ff0000;
      display: inline;
      /* box-shadow: 0 10px 30px black; */
    }

    .error-input {
      border: 2px solid #ff0000;
    }

    .success-input {
      border: 2px solid #03e703;
    }

    
    /*--------------------
    Success-Modal
    --------------------*/

    .overlay {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(12px);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition: 0.4s ease;
    }


    .overlay.active {
      opacity: 1;
      pointer-events: auto;
    }

    .modal {
      background: linear-gradient(145deg,
          rgba(255, 255, 255, 0.12),
          rgba(255, 255, 255, 0.05));
      border-radius: 18px;
      padding: 40px;
      width: 380px;
      text-align: center;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
      transform: scale(0.8);
      transition: 0.4s ease;
    }

    .overlay.active .modal {
      transform: scale(1);
    }

    .success-ring {
      width: 90px;
      height: 90px;
      margin: 0 auto 20px;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .checkmark-circle {
      fill: none;
      stroke: #00f7ff;
      stroke-width: 2;
      stroke-dasharray: 157;
      stroke-dashoffset: 157;
      animation: circleDraw 0.6s forwards;
    }

    .checkmark-check {
      fill: none;
      stroke: #00f7ff;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      animation: checkDraw 0.4s 0.6s forwards;
    }

    h2 {
      margin: 10px 0;
      font-size: 22px;
    }

    p {
      font-size: 14px;
      opacity: 0.8;
    }

    .actions {
      margin-top: 25px;
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    button {
      padding: 10px 18px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: 14px;
    }

    .primary {
      background: linear-gradient(135deg, #00f7ff, #00c3ff);
      color: #000;
    }

    .secondary {
      background: transparent;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    @keyframes circleDraw {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes checkDraw {
      to {
        stroke-dashoffset: 0;
      }
    }





    /* -----------------
      Exit
------------------*/